<div class="container-fluid">
    <h1>Admin</h1>
    <br>
    <div ng-repeat="user in model.users">
        <div class="media well" ng-if="user.role!='ADMIN'">
            <a class="pull-left" href="">
                <img class="img-responsive img-thumbnail profile-image" src="/homepage/images/user_icon.jpg"
                     ng-show="!user.imageUrl">
                <img class="img-responsive img-thumbnail profile-image" ng-src="{{user.imageUrl}}"
                     ng-show="user.imageUrl">
            </a>
            <div class="media-body">
                <h3 class="media-heading">
                    {{user.username}}
                </h3>
                <h3 class="media-heading">
                    {{user.firstName + " " + user.lastName}}
                </h3>
                <h3 class="media-heading">
                    {{user.email}}
                </h3>
                <a ng-click="model.adminDeleteUser($index)">
                    <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                </a>
                <a ng-click="model.updateUser()">
                    <i class="fa fa-cog" aria-hidden="true" style="color: dodgerblue"></i>
                </a>

            </div>
        </div>
    </div>
</div>