<div class="container-fluid">
    <h1>CS5610 Web Development</h1>
    <h2>Project Documentation</h2>
    <br>
    <hr>
    <h1 class="text-center">SpotTunes</h1>
    <hr>

    <h2>Description</h2>
    SpotTunes is my final project for CS5610 Web Development Course. Its a one stop place to search for albums, get artist information, play tracks on the fly and enjoy!
    I have used Spotify Web API which is a RESTful Web Service that provides albums, artists and track information. It targets both website and mobile platform users.
    SpotTunes provides a way for user rating and user reviews for the albums they search. Users can also add albums to their favorite list. Users can also follow other users.
    <hr>

    <h2>Actors</h2>
    The human actors for this system are:
    <ul>
        <li>
            * Guest User
        </li>
        <li>
            * Registered User
        </li>
        <li>
            * Admin
        </li>
    </ul>
    <hr>

    <h2>Data Model</h2>

    I have incorporated the following data model

    <h3>User</h3>
    - Allows capturing data such as username, password, first name, last name, phone, and email.

    <h3>Domain object</h3>
    - Represents albums, artists and track details provided by Spotify Web API.

    <h3>User to user relationship</h3>
    - User can read reviews written by other users, they can follow other users and also view their public profile.

    <h3>User to domain object relationship</h3>
    - User can like an album and also provide review and rating for the albums.

    <h3>Domain to domain relationship</h3>
    - An artist can have many albums

    <h3>One to many relationships</h3>
    - An album can have many reviews

    <h3>Many to many relationships</h3>
    - A user can review many albums and an album is reviewed by many users.

    <hr>

    <h2>Feature Requirements</h2>
    Following features are provided. Pages must be phone and tablet friendly.

    <h3>Home page</h3>
    - I have created a spectacular looking homepage from scratch without using any online template.
    I have provided a brief description and short gif preview about SpotTunes under the Projects section.

    <h3>Login / Register</h3>
    - Users can register and login using the links on the SpotTunes Navbar. Users can use the
    Web site without login in. The Guest User link at the top specifies their status. Guest users when accessing
    private or sensitive information get a message asking them to login to use the features of the application like
    adding albums to favorite list, providing review or rating.

    <h3>Profile</h3>
    - Allows users to edit personal information and navigate to SpotTunes Search. Users can view other
    users they are following, view users following them, view albums in their favorite list, view reviews they have
    written for the albums.

    <h3>Search / Search Results</h3>
    - Allows users to search for albums. Results are shown as a summarized list.
    Clicking on an album from the search result navigates to a details page for that album. It retrieves data from
    Spotify Web service.

    <h3>Details Page</h3>
    - Shows a detailed view of the selected album including artist information, all reviews
    provided by the users, rating generated by the reviews, 30 seconds preview of the tracks that you can play on the
    fly and also related artist that you might be interested in. Clicking on the user that posted the review navigates
    to that user's profile. It retrieves details from Spotify Web service

    <h3>Social Networking</h3>
    - Provide social networking features such as discovering other users, following other
    users, sharing a subset of profile/personal information such as viewing other user's favorite list, reviews,
    follower list and following list.

    <h3>Web Service</h3>
    - Used a public Spotify Web service to implement the search and details page.



</div>