<div class="container-fluid well">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1 class="text-center">Login</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o fa-fw"></i></span>
                <input type="text" class="form-control" ng-model="model.user.username" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input type="password" class="form-control" ng-model="model.user.password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <a ng-click="model.login()" class="btn btn-block btn-twitter">Login</a>
        </div>
        <div class="form-group">
            <a href="#/register" class="btn btn-success btn-block">Register</a>
        </div>
        <div class="form-group">
            <a href="/auth/google" class="btn btn-block btn-google">
                <span class="fa fa-google-plus"></span>
                Google
            </a>
        </div>
        <div class="form-group">
            <a href="/auth/facebook" class="btn btn-block btn-facebook">
                <span class="fa fa-facebook"></span>
                Facebook
            </a>
        </div>
        <div class="form-group">
            <a href="/auth/instagram" class="btn btn-block btn-instagram">
                <span class="fa fa-instagram"></span>
                Instagram
            </a>
        </div>
    </form>
</div>
