<div class="container-fluid well">

    <h1 class="text-center">Search</h1>
    <div class="input-group">
        <input ng-model="model.title" type="text" class="form-control" placeholder="Search for Artist...">
        <span class="input-group-btn">
            <button ng-click="model.searchMusicByTitle(model.title)" class="btn btn-default" type="button">Go!</button>
        </span>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Popularity</th>
                <th>Follower count</th>
                <th>Genre</th>
                <th>Poster</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "row in model.music">
                <td><a href="#/details/{{row.id}}/{{model.title}}">{{row.name}}</a></td>
                <td>{{row.popularity}}</td>
                <td>{{row.followers.total}}</td>
                <td>{{row.genres}}</td>
                <td>
                    <img ng-src="{{row.images[0].url}}" height="100px">
                </td>
            </tr>
        </tbody>
    </table>

</div>