input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

.templates-websites-navbar {
    background-color: #1e90ff;
}

.profile-websites-navbar-text {
    color: white !important;
}

.glyphicon {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}


.templates-websites-navbar .glyphicon {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.glyphicon-cog {
    color: dodgerblue;
}

.pages-widgets-glyphicon-user {
    color: dodgerblue;
}

.align-glyphicons {
    float: right;
    padding-right: 10px;
}