input.form-control {
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 15px;
}

body {
    padding-top: 70px;
    padding-bottom: 65px;
    overflow-x: hidden;
}

.templates-websites-navbar {
    background-color: #1e90ff;
}

.profile-websites-navbar-text {
    color: white !important;
}

.glyphicon {
    margin-right: 5px;
    margin-left: 5px;
    color: black;
}

.templates-websites-navbar .glyphicon {
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}

.glyphicon-cog {
    color: dodgerblue;
    margin-right: 2px;
    margin-left: 5px;
    padding-right: 5px;
}

.glyphicon-align-justify {
    margin-right: 2px;
    margin-left: 0px;
}

.pages-widgets-glyphicon-user {
    color: dodgerblue;
}

.vertical-line {
    width:1px;
    height:100%;
    left: 33%;
    position: absolute;
    top:0;
    margin-left:5px;
    margin-right:5px;
    border-left:1px solid gray;
}

.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
}

.overlay_glyphicons {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}

.zero-right-padding {
    padding-right: 0px;
}


