input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.navbar-default {
    background-color: #1e90ff;
}

.navbar-default .navbar-brand {
    color: white;
}

.glyphicon {
    margin-right: 15px;
    color: white;
}