<!DOCTYPE html>
<html lang="en" ng-app="<%= applicationName%>">
<head>
    <link href="/project/css/bootstrap.css" rel="stylesheet">
    <script src="/project/js/angular.min.js"></script>
    <script src="/project/js/angular-route.min.js"></script>
    <script src="/wax/<%= applicationName%>/app.js"></script>
    <script src="/wax/<%= applicationName%>/config.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid" ng-view></div>
</body>
</html>