<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/user/:uid/website" class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#/user/:uid/website/:wid/page/new" class="glyphicon glyphicon-plus"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Pages</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <form>
        <div class="form-group">
            <a href="#/user/:uid/website/:wid/page/:pid/widget">Blog Post</a>
            <p class="pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid" class="glyphicon glyphicon-cog"></a>
            </p>
        </div>
        <div class="form-group">
            <a href="#/user/:uid/website/:wid/page/:pid/widget">Blog</a>
            <p class="pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid" class="glyphicon glyphicon-cog"></a>
            </p>
        </div>
        <div class="form-group">
            <a href="#/user/:uid/website/:wid/page/:pid/widget">Home</a>
            <p class="pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid" class="glyphicon glyphicon-cog"></a>
            </p>
        </div>
        <div class="form-group">
            <a href="#/user/:uid/website/:wid/page">About</a>
            <p class="pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid" class="glyphicon glyphicon-cog"></a>
            </p>
        </div>
        <div class="form-group">
            <a href="#/user/:uid/website/:wid/page/:pid/widget">Contact Us</a>
            <p class="pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid" class="glyphicon glyphicon-cog"></a>
            </p>
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/:uid" class="glyphicon glyphicon-user pages-widgets-glyphicon-user"></a>
        </p>
    </div>
</nav>