<div class="container-fluid well">
    <div class="row text-center">
        <div class="col-xs-4 col-sm-3">
            <a href="#/user/{{model.user._id}}">
                <img class="img-responsive img-thumbnail profile-image" ng-src="{{model.user.imageUrl || '/homepage/images/user_icon.jpg'}}"/>
            </a>
            <br>
            {{model.user.username}}
            <br>
            <div ng-hide="!model.navigateUserId || model.loggedInUserId == model.navigateUserId">
                <div ng-show="model.loggedInUserId != model.navigateUserId">
                    <a href="" ng-click="model.follow()" ng-hide="model.alreadyFollowing"
                       class="btn-sm btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i> Follow
                    </a>
                    <a href="" ng-click="model.unfollow()" ng-show="model.alreadyFollowing"
                       class="btn-sm btn-danger"><i class="fa fa-user-times" aria-hidden="true"></i> Unfollow
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#/favorites/{{model.user._id}}">
                <div class="row">
                    <h5><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> Favorites</h5>
                </div>
                <div class="row">
                    {{model.user.favorites.length}}
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#/reviews/{{model.user._id}}">
                <div class="row">
                    <h5><i class="fa fa-comment" aria-hidden="true" style="color: green;"></i> Reviews</h5>
                </div>
                <div class="row">
                    {{model.reviews.length}}
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#/followers/{{model.user._id}}">
                <div class="row">
                    <h5><i class="fa fa-users" aria-hidden="true"></i>Followers</h5>
                </div>
                <div class="row">
                    {{model.user.follower.length}}
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#/following/{{model.user._id}}">
                <div class="row">
                    <h5><i class="fa fa-users" aria-hidden="true"></i>Following</h5>
                </div>
                <div class="row">
                    {{model.user.following.length}}
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div ng-show="model.success" class="alert alert-success" role="alert">
        {{model.success}}
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1 class="text-center">Profile</h1>
    <br>
        <div class="form-group">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-user-o fa-fw"></i></span>
                <input ng-model="model.user.username" readonly type="text" class="form-control" id="username"
                       placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                <input ng-model="model.user.firstName" type="text" class="form-control"
                       placeholder="First Name" ng-show="model.loggedInUserId != model.navigateUserId" readonly>
                <input ng-model="model.user.firstName" type="text" class="form-control" id="firstname"
                       placeholder="First Name" ng-show="model.loggedInUserId == model.navigateUserId">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                <input ng-model="model.user.lastName" type="text" class="form-control"
                       placeholder="Last Name" ng-show="model.loggedInUserId != model.navigateUserId" readonly>
                <input ng-model="model.user.lastName" type="text" class="form-control" id="lastname"
                       placeholder="Last Name" ng-show="model.loggedInUserId == model.navigateUserId">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                <input ng-model="model.user.email" type="text" class="form-control"
                       placeholder="Email Address" ng-show="model.loggedInUserId != model.navigateUserId" readonly>
                <input ng-model="model.user.email" type="text" class="form-control" id="email"
                       placeholder="Email Address" ng-show="model.loggedInUserId == model.navigateUserId">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></span>
                <input ng-model="model.user.phone" type="text" class="form-control"
                       placeholder="Phone Number" ng-show="model.loggedInUserId != model.navigateUserId" readonly>
                <input ng-model="model.user.phone" type="text" class="form-control" id="phone"
                       placeholder="Phone Number" ng-show="model.loggedInUserId == model.navigateUserId">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<div class="input-group margin-bottom-sm">-->
                <!--<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>-->
                <!--<input ng-model="model.user.birthDate" datetime="yyyy-MM-dd" type="text" class="form-control" readonly-->
                       <!--placeholder="Birth Date" ng-show="model.loggedInUserId != model.navigateUserId">-->
                <!--<input ng-model="model.user.birthDate" datetime="yyyy-MM-dd" type="text" class="form-control" id="birthDate"-->
                       <!--placeholder="Birth Date" ng-show="model.loggedInUserId == model.navigateUserId">-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group" ng-hide="model.loggedInUserId != model.navigateUserId">
            <label for="upload">Upload</label>
            <form action="/api/profile/upload" id="upload" method="post" enctype="multipart/form-data">
                <input  name="profileImg"   type="file" class="form-control"/>
                <input  name="userId" value="{{model.user._id}}"   style="display: none"/>
                <button type="submit"   class="btn btn-block btn-primary">Upload Image !!!!</button>
            </form>
        </div>
        <a ng-click="model.updateUser()" ng-hide="model.loggedInUserId != model.navigateUserId" class="btn btn-success btn-block">Update</a>
        <a ng-click="model.deleteUser()" ng-hide="model.loggedInUserId != model.navigateUserId" class="btn btn-danger btn-block">Unregister</a>
        <a ng-click="model.logout()" ng-hide="model.loggedInUserId != model.navigateUserId" class="btn btn-warning btn-block">Logout</a>
        <a href="#/admin" ng-show="model.user.role == 'ADMIN'" class="btn btn-primary btn-block">Admin</a>
</div>
<!--<script>-->
    <!--$( function() {-->
        <!--$( "#birthDate" ).datepicker();-->
    <!--} );-->
<!--</script>-->