<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1>Login</h1>
    <label for="username">Username</label>
    <input type="text" class="form-control" ng-model="model.username" id="username" placeholder="Alice">
    <label for="password">Password</label>
    <input type="password" class="form-control" ng-model="model.password" id="password" placeholder="xyz123">
    <a ng-click="model.login(model.username,model.password)" class="btn btn-primary btn-block">Login</a>
    <a href="#/register" class="btn btn-success btn-block">Register</a>
</div>
