<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
        <ul>
            <li ng-show="registerForm.username.$invalid">Username is empty</li>
            <li ng-show="registerForm.password.$invalid">Password is empty</li>
            <li ng-show="registerForm.password2.$invalid">Verify Password is empty</li>
        </ul>
    </div>
    <h1>Register</h1>
    <form name="registerForm" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" name="username" id="username" placeholder="Alice" required>
            <div class="error" ng-show="registerForm.username.$invalid && registerForm.$submitted">Username is required</div>
            <!--{{registerForm.username}}-->
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="model.user.password" type="password" class="form-control" name="password" id="password" placeholder="xyz123" required>
            <div class="error" ng-show="registerForm.password.$invalid && registerForm.$submitted">Password is required</div>
        </div>
        <div class="form-group">
            <label for="password2">Verify Password</label>
            <input ng-model="model.user.password2" type="password" class="form-control" name="password2" id="password2" placeholder="xyz123" required>
            <div class="error" ng-show="registerForm.password2.$invalid && registerForm.$submitted">Verify Password is required</div>
        </div>
        <button ng-click="model.createUser()" type="submit"
           class="btn btn-primary btn-block">Register</button>
        <a href="#/login" class="btn btn-danger btn-block">Cancel</a>
    </form>
</div>
