<div class="container-fluid" id="searchPage">

    <h1 class="text-center">SpotTunes - Where Music is Life</h1>
    <br>
    <h1 class="text-center">Search</h1>
    <br>
    <div class="input-group">
        <input ng-model="model.title" type="text" class="form-control"
               ng-keypress="model.searchByKeyPress($event, model.title)"
               placeholder="Search for Album...">
        <span class="input-group-btn">
            <button ng-click="model.searchMusicByTitle(model.title)" class="btn btn-default" type="button">
                <i class="fa fa-search" aria-hidden="true" style="color: dodgerblue"></i>
            </button>
        </span>
    </div>
    <br>

    <div ng-show="model.error">
        <div class="alert alert-warning alert-box" role="alert"><b>Warning! </b>
            {{model.error}}
        </div>
    </div>

    <div class="row">
        <div ng-repeat="music in model.music">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="#/details/{{music.id}}/{{model.title}}">
                        <div class="caption">
                            <h3>{{music.name | limitTo:30}}{{music.name.length > 30 ? "..." : ""}}</h3>
                        </div>
                        <img class="img-responsive" ng-src="{{music.images[0].url}}"/>
                    </a>
                    <div class="caption">
                        <h5>Album Type: {{music.album_type.toUpperCase()}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>