<div class="container-fluid well">
    <div class="row text-center">
        <div class="col-xs-4 col-sm-3">
            <a href="#/user/{{model.user._id}}">
                <img class="img-responsive img-thumbnail profile-image" ng-src="{{model.user.imageUrl || '/homepage/images/user_icon.jpg'}}"/>
            </a>
            <br>
            {{model.user.username}}
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#/favorites/{{model.user._id}}">
                <div class="row">
                    <h5>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                        Favorites
                    </h5>
                </div>
                <div class="row">
                    {{model.user.favorites.length}}
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#/reviews/{{model.user._id}}">
                <div class="row">
                    <h5>
                        <i class="fa fa-comment" aria-hidden="true" style="color: green;"></i>
                        Reviews
                    </h5>
                </div>
                <div class="row">
                    {{model.reviews.length}}
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#/followers/{{model.user._id}}">
                <div class="row">
                    <h5>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Followers
                    </h5>
                </div>
                <div class="row">
                    {{model.user.follower.length}}
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#/following/{{model.user._id}}">
                <div class="row">
                    <h5>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Following
                    </h5>
                </div>
                <div class="row">
                    {{model.user.following.length}}
                </div>
            </a>
        </div>
    </div>
    <h1 class="page-header less-top-margin">Favorites</h1>

    <div class="row" ng-hide="model.music.length > 0">
        <div class="alert alert-info alert-box" role="alert">
            <div>
                <b>Info! </b>
                No favorite music yet!
            </div>
        </div>
    </div>

    <div ng-repeat="music in model.music">
        <div class="media">
            <a class="pull-left" href="#/details/{{music._id}}/favorites/{{model.user._id}}">
                <img class="media-object profile-image thumbnail" ng-src={{music.imageUrl}} alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="#/details/{{music._id}}/favorites/{{model.user._id}}">
                        {{music.name}}
                    </a>
                </h4>
                <h4>
                    <a href="" ng-click="model.favoriteMusic($index)"
                       ng-hide="music.isFavorite">
                        <i class="fa fa-heart"></i>
                    </a>
                </h4>
                <h4>
                    <a href="" ng-click="model.undoFavoriteMusic($index)"
                       ng-show="music.isFavorite">
                        <i class="fa fa-heart" style="color: red"></i>
                    </a>
                </h4>
            </div>
        </div>
        <hr>
    </div>
</div>